/**********************************************
*** CSS - Ficha Javascrip
**********************************************/
:root {
  --globalColor: #cf4444;
  --messageColor: blue;
  --boxshadow0: 0px 0px 0px;
  --top10Color: #742323;
  --gameOverColor: #cf4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#555, rgba(0, 0, 0, 0.1)) fixed;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  justify-content: center;
}

select,
label,
dd,
button {
  padding: 5px;
  border-radius: 5px;
}

select,
button {
  cursor: pointer;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap;
}

.title,
.subtitle {
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: var(--globalColor);
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.title {
  font-weight: bolder;
  text-transform: uppercase;
}

.subtitle {
  font-style: italic;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 0;
  padding: 15px 20px 10px 20px;
  background-color: #fff;
  color: grey;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  align-items: center;
  width: 500px;
  min-width: 450px;
  border-radius: 10px;
}

#panel-control {
  background-color: #f1f0f0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: smaller;
  color: grey;
  width: 100%;
  margin: 15px 0px;
  border: 3px solid var(--globalColor);
}

#panel-control .form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#panel-control .form,
#panel-control .form-metadata {
  width: 100%;
  padding: 10px 20px;
}

#panel-control .form-metadata {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  width: 100%;
}

#panel-control .list-item:not(.hide) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

#panel-control .col1 {
  justify-self: left;
}

#panel-control .col2 {
  justify-self: end;
}

#panel-control .form-group {
  border: 0;
  margin: 0;
  padding: 0;
}

#panel-control .form-info {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  list-style-type: none;
}

#panel-control #message {
  color: var(--messageColor);
  font-weight: bolder;
}

.game {
  width: 100%;
  margin: 0 auto;
}

#panel-game {
  width: 80%;
  min-width: 200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  grid-template-columns: auto auto auto;
  gap: 10px;
  display: grid;
  justify-content: center;
  perspective: 1000px;
  user-select: none;
}

#panel-game.avancado {
  width: 80%;
  grid-template-columns: auto auto auto auto auto;
}

#panel-game.intermedio {
  width: 80%;
  grid-template-columns: auto auto auto auto;
}

/*--------------------------------------------------
Estilos para cartas
--------------------------------------------------*/
.card {
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 15%;

  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 0.4s;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card-back,
.card-front {
  width: 100%;
  height: 100%;
  padding: 7px;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15%;
  backface-visibility: hidden;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front {
  transform: rotateY(180deg);
}

.grayscale {
  filter: grayscale(1) opacity(0.5);
}

.cardHover {
  border: 2px solid var(--globalColor);
  box-shadow: var(--boxshadow0);
}

/*
.card:hover {
  border: 2px solid var(--globalColor);
  box-shadow: var(--boxshadow0);
}
*/

.card.inative {
  box-shadow: var(--boxshadow0);
  pointer-events: none;
}

.no-events {
  pointer-events: none;
}

#btPlay {
  border: 1px solid #5e5858;
  background-color: #5eac52;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#btPlay:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #751d1d;
  background: var(--globalColor);
}

#btPlay:disabled,
#btPlay:disabled:hover {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: inherit;
}

#container header {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: var(--globalColor);
}

#gameTime,
#points {
  background-color: grey;
  color: white;
  font-weight: bolder;
  margin-left: 5px;
  width: 45px;
  text-align: right;
  display: inline-block;
}

#points {
  width: 65px;
  text-align: left;
  background-color: transparent;
  color: var(--globalColor);
}

button:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid grey;
}

.hide {
  display: none;
}

/*--------------------------------------------------
Estilos para Janelas Modais
--------------------------------------------------*/
[id^="modal-"] .info div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: center;
  font-size: smaller;
}

#modal-top10 .info div:nth-child(even) {
  background: rgba(224, 221, 221);
}

#modal-top10 .info div:nth-child(odd) {
  background: white;
}

#modal-top10 .info p {
  padding: 5px;
}

#modal-top10 .info div:first-child {
  background-color: #c0bbbb;
  font-weight: bolder;
}

#modal-top10 .info div p:first-child {
  text-align: right;
}

[id^="modal-"] .info div p {
  text-align: left;
  border-right: rgb(155, 149, 149) 1px solid;
}

[id^="modal-"] header,
[id^="modal-"] footer {
  text-align: center;
  color: white;
}

[id^="modal-"] header {
  font-weight: bold;
  padding: 8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

[id^="modal-"] header span {
  font-size: smaller;
  border-top-right-radius: 6px;
  padding: 9px;
}

footer {
  font-size: xx-small;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

[id^="modal-"] .estilos {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 350px;
}

[id^="modal-"] input {
  padding: 2px 3px;
  border-radius: 5px;
  background-color: #e9e7e7;
  width: 150px;
  font-weight: lighter;
}

[id^="modal-"] button {
  padding: 0px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#modal-top10 header,
#modal-top10 footer {
  background-color: var(--top10Color);
}

#modal-top10 .estilos {
  border: 3px solid var(--top10Color);
  background-color: var(--top10Color);
}

#modal-gameOver header,
#modal-gameOver footer {
  background-color: var(--gameOverColor);
}

#modal-gameOver .estilos {
  border: 3px solid var(--gameOverColor);
  background-color: var(--gameOverColor);
}

#modal-gameOver .estilos .info {
  background-color: white;
}

#modal-gameOver .info {
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  background-color: white;
}

#modal-gameOver #nickname {
  font-weight: lighter;
  font-size: smaller;
}