<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PWEB_2324</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />

    <link rel="icon" type="image/png" href="/home.png" sizes="400x400">

</head>
<body class="d-flex h-100 text-center  bg-white p-0 m-0">
    <div class="cover-container d-flex w-100 h-100 p-0 mx-auto flex-column">
        <header class="p-7 text-white">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3 fixed-top" style="background: rgba(0, 0, 0, .5);">
                    <div class="container" >
                        <!--        <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index"><svg bootstrap-icon="SignTurnRightFill" class="text-warning" width="48" height="48" aria-label="SignTurnRightFill"></svg> <strong>PWEB_2324</strong></a> -->
                        <a class="navbar-brand" style="color: dodgerblue" asp-area="" asp-controller="Home" asp-action="Index"><img width="48" height="48" src="~/home.png" />  <strong>HabitAqui</strong></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Locador" asp-action="Index">Locador</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="AllUsers" asp-action="Index">Utilizadores</a>
                                    </li>

                                }
                                @if (User.IsInRole("Manager"))
                                {


                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Imoveis" asp-action="Index">Gerir Imoveis</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="ImoveisAlugados" asp-action="Index">Lista Imoveis Alugados</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="ManagerCenter" asp-action="Index">Lista de Funcionários</a>
                                    </li>
                                }
                                @if (User.IsInRole("Employee"))
                                {


                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Imoveis" asp-action="Index">Gerir Imoveis</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="ImoveisAlugados" asp-action="Index">Lista Imoveis Alugados</a>
                                    </li>
                                }
                                @if (User.IsInRole("Client"))
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Historico" asp-action="Index">Histórico Imoveis</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="ListImoveis" asp-action="Index">Imoveis</a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>                
            </div>
        </header>

        <main class="container mt-5 pt-5 text-start">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted" style="position: absolute; bottom: 0">
            <div class="container">
                &copy; 2023 - HabitAqui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                &nbsp;
                <a asp-area="" asp-controller="Home" asp-action="Contactos">Contactos</a>
                &nbsp;
                <a asp-area="" asp-controller="Home" asp-action="About">Quem somos?</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
