@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 class="text-danger">Erro 404</h1>
<h2 class="text-danger">Alguma coisa aconteceu de errado!</h2>


