@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
	<div class="jumbotron">
		<p>
			<h2>Não tem autorização para entrar nesta area</h2>
		</p>
		<a asp-area="" asp-controller="Home" asp-action="Index">HomePage</a>
	</div>

</div>