@{
    Layout = "_Layout";
    ViewData["Title"] = "Início";
}
<div id="carouselDestaques" class="carousel slide m-0" data-bs-ride="carousel">
<div class="carousel-indicators">
<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="0"
class="active" aria-label="Slide 1" aria-current="true"></button>
<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="1" arialabel="
Slide 2" class=""></button>
<button type="button" data-bs-target="#carouselDestaques" data-bs-slide-to="2" arialabel="
Slide 3" class=""></button>
</div>
    <div id="carouselHabitAqui" class="carousel slide" data-bs-ride="carousel" style="display: inline-block; width: 60%">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselHabitAqui" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselHabitAqui" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselHabitAqui" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/imagens/house1.png" class="d-block w-40" style="height: 500px; margin: auto;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/imagens/house2.png" class="d-block w-40" style="height: 500px; margin: auto;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/imagens/house3.png" class="d-block w-40" style="height: 500px; margin: auto;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHabitAqui" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHabitAqui" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container bg-white" style="border: solid dodgerblue">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">HabitAqui Connosco</h1>
        <p class="fs-5 text-muted">
            Encontre a sua próxima habitação connosco.
        </p>
    </div>
</div>

